@model Guid
<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model"><i class="fas fa-upload"> Update</i></button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control"><i class="fas fa-arrow-left"> Back To List</i></a>
    </div>
</div>
